
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Land Access Request Service
{% endblock %}
{% block content %}
<div class="govuk-header__container1"></div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="lars-home.html" class="govuk-back-link">Back</a>
      <h1 class="govuk-heading-xl">
        Search the Land Access Request service
       <!-- <span class="govuk-caption-xl">{{releaseVersion}}</span> -->
      </h1>{{releaseVersion | log }}
           
      <div class="govuk-form-group" style="margin-bottom: 20px;">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">              
              <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes" onclick="landParcel()" checked >
              <label class="govuk-label govuk-radios__label" for="changed-name">
               Land parcel
              </label>
              
            </div>
            <div class="govuk-radios__item">              
              <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" onclick="landOwner()"  value="yes">
              <label class="govuk-label govuk-radios__label" for="changed-name-2">
               Landowner
              </label>             
            </div>
          </div>      
        </fieldset>
        
        <div id="landparcel">
          <br/>
        <p class="govuk-body govuk-!-font-size-19">You can search for a land parcel by:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>grid reference</li>
           <li>land parcel ID</li>
            <li>Land Registry code</li>
          </ul>
        <br/>     
            <div class="gov-uk-c-searchbar">
                <div class="gov-uk-l-searchbar__table">
                    <div class="gov-uk-l-searchbar__cell">
                        <label id="SearchInputLabel" for="FinderKeywords" class="visuallyhidden">
                            Search by employer name
                        </label>
                        <input class="govuk-input gov-uk-c-searchbar__input" type="text" autocomplete="off" name="search" id="FinderKeywords">
                    </div>
                    <div class="gov-uk-l-searchbar__cell">
                      
                      
                      <button class="gov-uk-c-searchbar__submit gov-uk-c-searchbar__submit--blue" onclick="myFunction()" id="NextStep" type="button">
                            Search
                        </button>
                    </div>
                </div>
            </div>

      </div>
      

      
      <div style="display:none;" id="NextStephide" class="govuk-form-group"> 
        <br/> 
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Search result</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Grid reference</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Land parcel ID</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Land Registry code</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="parcel-details.html" class="govuk-link govuk-caption-m">TQ 58600 89067</a></th>
              <td class="govuk-table__cell govuk-table__cell--numeric">ST58093</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">AP1 234 432</td>
            </tr>
          </tbody>
        </table>
        </div>
      
        </div>

        <div style="display:none;" id="landowner">
          <p class="govuk-body govuk-!-font-size-19">You can search for a landowner by:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>name</li>
           <li>company name</li>
            <li>others - add the other criteria</li>
          </ul>
        <br/>     
            <div class="gov-uk-c-searchbar">
                <div class="gov-uk-l-searchbar__table">
                    <div class="gov-uk-l-searchbar__cell">
                        <label id="SearchInputLabel" for="FinderKeywords" class="visuallyhidden">
                            Search by employer name
                        </label>
                        <input class="govuk-input gov-uk-c-searchbar__input" type="text" autocomplete="off" name="search" id="FinderKeywords">
                    </div>
                    <div class="gov-uk-l-searchbar__cell">
                        <button class="gov-uk-c-searchbar__submit gov-uk-c-searchbar__submit--blue" onclick="myFunctionLandowner()" id="NextStep" type="button">
                            Search
                        </button>
                    </div>
                </div>
            </div>

      </div>
     
      <div style="display:none;" id="NextSteplandownerhide" class="govuk-form-group">
        <br/> 
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Search result</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Name</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Contact</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Postcode</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="landowner-details.html" class="govuk-link govuk-caption-m">Sarah Philips</a></th>
              <td class="govuk-table__cell govuk-table__cell--numeric">07700 900457</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">SE23 6FH</td>
            </tr>
            
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link govuk-caption-m">Sarah Philips</a></th>
              <td class="govuk-table__cell govuk-table__cell--numeric">01310 23543</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">EH10 5KJ</td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link govuk-caption-m">Sarah Philips</a></th>
              <td class="govuk-table__cell govuk-table__cell--numeric">07845 9563 </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">W1 8LB</td>
            </tr>


            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link govuk-caption-m">Ivy Carlson <br> Sarah Carlson</a></th>
              <td class="govuk-table__cell govuk-table__cell--numeric">07540 324067</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">WX12 5GR</td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link govuk-caption-m">Sarah Housing Limited</a></th>
              <td class="govuk-table__cell govuk-table__cell--numeric">02020 84352</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">EH1 3DG</td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="#" class="govuk-link govuk-caption-m">Sarah Farming Company Limited</a></th>
              <td class="govuk-table__cell govuk-table__cell--numeric">02030 54268</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">KO3 5FG</td>
            </tr>
          </tbody>
        </table>

        <nav class="govuk-pagination" role="navigation" aria-label="results">
          <div class="govuk-pagination__prev">
            <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
              <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
              </svg>
              <span class="govuk-pagination__link-title">Previous</span></a>
          </div>
          <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item govuk-pagination__item--current">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
                1
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
                2
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                3
              </a>
            </li>
          </ul>
          <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg></a>
          </div>
        </nav>
        </div>
        </div>

    </div>
  </div>

  <script>
    function myFunction() {
      document.getElementById("NextStephide").style.display="block";
    }
    function myFunctionLandowner() {
      document.getElementById("NextSteplandownerhide").style.display="block";
    }
    function landParcel() {
      document.getElementById("landparcel").style.display="block";
      document.getElementById("landowner").style.display="none";
      document.getElementById("NextSteplandownerhide").style.display="none";
    }
    function landOwner() {
      document.getElementById("landowner").style.display="block";
      document.getElementById("landparcel").style.display="none";
      document.getElementById("NextStephide").style.display="none";
    }
    </script> 

{% endblock %}
