
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Land Access Request Service
{% endblock %}
{% block content %}
{% include 'includes/head.html' %}
<div class="govuk-header__container1"></div>


      <div class="govuk-width-container">
        <main class="govuk-main-wrapper " id="main-content" role="main">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">
              <div class="govuk-grid-row">
                <a href="options-add-more.html" class="govuk-back-link">Back</a>              
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <h1 class="govuk-fieldset__heading">
                        What type of contact would you like to add for the land parcel ST1234567?
                      </h1>
                    </legend> <br>
                    <div class="govuk-radios" data-module="govuk-radios">
                      
                    <div class="govuk-radios" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="a-landowner" onclick="associatedContact()" name="where-do-you-live" type="radio" value="Landowner">
                        <label class="govuk-label govuk-radios__label" for="a-landowner">
                          Landowner
                        </label>
                      </div>

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="a-tenant" onclick="associatedContact()" name="where-do-you-live" type="radio" value="Tenant">
                        <label class="govuk-label govuk-radios__label" for="a-tenant">
                          Tenant
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="a-landmanager" onclick="associatedContact()" name="where-do-you-live" type="radio" value="Land Manager">
                        <label class="govuk-label govuk-radios__label" for="a-landmanager">
                          Land manager
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="a-agent" onclick="associatedContact()" name="where-do-you-live" type="radio" value="Agent">
                        <label class="govuk-label govuk-radios__label" for="a-agent">
                          Agent
                        </label>                       
                      </div>

                      
                    </div>
                  </fieldset>
                </div>
              
                <a  href="add-landowner1.html"  class="govuk-button" data-module="govuk-button">
                  Continue </a>
            </div>
          </div>
        </main>
      </div>


  </div>
  </div>
  <script>
    let optionslandowner = localStorage.getItem('asscontactname1');
    if(optionslandowner == 'Landowner') {
      document.getElementById('a-landowner').checked = true;
    } else if(optionslandowner == 'Tenant'){
      document.getElementById('a-tenant').checked = true;
    } else if(optionslandowner == 'Land Manager') {
      document.getElementById('a-landmanager').checked = true;
    } else if(optionslandowner == 'Agent'){
      document.getElementById('a-agent').checked = true;
    }
    
    

    function associatedContact() {
      let landownername1 =  document.querySelector('input[name="where-do-you-live"]:checked').value;
      localStorage.setItem("asscontactname1", landownername1);
    }
  </script>

{% endblock %}
