
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Land Access Request Service
{% endblock %}
{% block content %}
{% include 'includes/head.html' %}
<div class="govuk-header__container1"></div>
  <!-- <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     

      <a href="#" class="govuk-back-link">Back</a>
      <h1 class="govuk-heading-xl">Site permission request dashboard EES
        <span class="govuk-caption-l">&nbsp;</span>
        <BR>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">

          <div class="govuk-form-group">
            <label class="govuk-label" for="timeperiod">
              <b>Time period</b>
            </label>
            <select class="govuk-select" id="timeperiod" name="timeperiod">
              <option value="Phone">Last 28 days</option>
              <option value="Letter">Last 7 days</option>

            </select>
          </div>
          </fieldset>
          </div>
     


    </div>
  </div> -->

  <div class="govuk-width-container">
        <main class="govuk-main-wrapper " id="main-content" role="main">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-from-desktop">
              <div>
                <a href="dashboard.html" class="govuk-back-link">Back</a>              
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <h1 class="govuk-heading-xl">Site permission requests to be sent<br> for River survey 2023 - AA1102
                      </h1>                      
                    
                    <table class="govuk-table">
                      <thead class="govuk-table__head"> <p>Showing 20 of 56 site permission requests</p>
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Land Registry code</th>
                          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Creation date</th>
                          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Contact</th>
                          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">To be sent by</th>
                          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Details</th>
                        </tr>
                      </thead>
                      
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell"><a href="#">AGL077542</a></td>
                          <td class="govuk-table__cell">2 January 2023</td>
                          <td class="govuk-table__cell">Alan Harmonie</td>
                          <td class="govuk-table__cell">Post</td>
                          <td class="govuk-table__cell"><a href="#">View</a></td>
                        </tr>

                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell"><a href="#">ASE892754</a></td>
                          <td class="govuk-table__cell">2 January 2023</td>
                          <td class="govuk-table__cell">Maisy Digby</td>
                          <td class="govuk-table__cell">Email</td>
                          <td class="govuk-table__cell"><a href="#">View</a></td>
                        </tr>

                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell"><a href="#">AMA757420</a></td>
                          <td class="govuk-table__cell">2 January 2023</td>
                          <td class="govuk-table__cell">Camilla Milford</td>
                          <td class="govuk-table__cell">Post</td>
                          <td class="govuk-table__cell"><a href="#">View</a></td>
                        </tr>


                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell"><a href="#">LAG077542</a></td>
                          <td class="govuk-table__cell">3 January 2023</td>
                          <td class="govuk-table__cell">Roderick Olly</td>
                          <td class="govuk-table__cell">Post</td>
                          <td class="govuk-table__cell"><a href="#">View</a></td>
                        </tr>

                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell"><a href="#">SEA892754</a></td>
                          <td class="govuk-table__cell">3 January 2023</td>
                          <td class="govuk-table__cell">Kassia Irwin</td>
                          <td class="govuk-table__cell">Email</td>
                          <td class="govuk-table__cell"><a href="#">View</a></td>
                        </tr>

                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell"><a href="#">MAA757420</a></td>
                          <td class="govuk-table__cell">4 January 2023</td>
                          <td class="govuk-table__cell">Nannie Peers</td>
                          <td class="govuk-table__cell">Post</td>
                          <td class="govuk-table__cell"><a href="#">View</a></td>
                        </tr>

                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell"><a href="#">GAL077542</a></td>
                          <td class="govuk-table__cell">4 January 2023</td>
                          <td class="govuk-table__cell">Alphonso Tod</td>
                          <td class="govuk-table__cell">Post</td>
                          <td class="govuk-table__cell"><a href="#">View</a></td>
                        </tr>

                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell"><a href="#">EAS892754</a></td>
                          <td class="govuk-table__cell">4 January 2023</td>
                          <td class="govuk-table__cell">Rigby Callan</td>
                          <td class="govuk-table__cell">Email</td>
                          <td class="govuk-table__cell"><a href="#">View</a></td>
                        </tr>

                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell"><a href="#">AAM757420</a></td>
                          <td class="govuk-table__cell">7 January 2023</td>
                          <td class="govuk-table__cell">Marisa Suellen</td>
                          <td class="govuk-table__cell">Post</td>
                          <td class="govuk-table__cell"><a href="#">View</a></td>
                        </tr>

                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell"><a href="#">AGL077542</a></td>
                          <td class="govuk-table__cell">7 January 2023</td>
                          <td class="govuk-table__cell">Sloan Averie</td>
                          <td class="govuk-table__cell">Post</td>
                          <td class="govuk-table__cell"><a href="#">View</a></td>
                        </tr>

                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell"><a href="#">AES892754</a></td>
                          <td class="govuk-table__cell">7 January 2023</td>
                          <td class="govuk-table__cell">Lydia Kristen</td>
                          <td class="govuk-table__cell">Email</td>
                          <td class="govuk-table__cell"><a href="#">View</a></td>
                        </tr>

                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell"><a href="#">RMA757420</a></td>
                          <td class="govuk-table__cell">7 January 2023</td>
                          <td class="govuk-table__cell">Mable Brittney</td>
                          <td class="govuk-table__cell">Post</td>
                          <td class="govuk-table__cell"><a href="#">View</a></td>
                        </tr>

                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell"><a href="#">AGL077542</a></td>
                          <td class="govuk-table__cell">8 January 2023</td>
                          <td class="govuk-table__cell">Alyx Harmonie</td>
                          <td class="govuk-table__cell">Post</td>
                          <td class="govuk-table__cell"><a href="#">View</a></td>
                        </tr>

                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell"><a href="#">ASE892754</a></td>
                          <td class="govuk-table__cell">8 January 2023</td>
                          <td class="govuk-table__cell">Lawrie Ian</td>
                          <td class="govuk-table__cell">Email</td>
                          <td class="govuk-table__cell"><a href="#">View</a></td>
                        </tr>

                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell"><a href="#">AMA757420</a></td>
                          <td class="govuk-table__cell">8 January 2023</td>
                          <td class="govuk-table__cell">Keara Yale</td>
                          <td class="govuk-table__cell">Post</td>
                          <td class="govuk-table__cell"><a href="#">View</a></td>
                        </tr>

                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell"><a href="#">AGL077542</a></td>
                          <td class="govuk-table__cell">8 January 2023</td>
                          <td class="govuk-table__cell">Lucinda Sophie</td>
                          <td class="govuk-table__cell">Post</td>
                          <td class="govuk-table__cell"><a href="#">View</a></td>
                        </tr>

                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell"><a href="#">ASE892754</a></td>
                          <td class="govuk-table__cell">8 January 2023</td>
                          <td class="govuk-table__cell">Chrystal Charlie</td>
                          <td class="govuk-table__cell">Email</td>
                          <td class="govuk-table__cell"><a href="#">View</a></td>
                        </tr>

                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell"><a href="#">AMA757420</a></td>
                          <td class="govuk-table__cell">8 January 2023</td>
                          <td class="govuk-table__cell">Darrin Jaylee</td>
                          <td class="govuk-table__cell">Post</td>
                          <td class="govuk-table__cell"><a href="#">View</a></td>
                        </tr>

                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell"><a href="#">ASE892754</a></td>
                          <td class="govuk-table__cell">12 January 2023</td>
                          <td class="govuk-table__cell">Shantel Dex</td>
                          <td class="govuk-table__cell">Email</td>
                          <td class="govuk-table__cell"><a href="#">View</a></td>
                        </tr>

                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell"><a href="#">AMA757420</a></td>
                          <td class="govuk-table__cell">12 January 2023</td>
                          <td class="govuk-table__cell">Ward Cindi</td>
                          <td class="govuk-table__cell">Post</td>
                          <td class="govuk-table__cell"><a href="#">View</a></td>
                        </tr>

                      </tbody>
                    </table>
                    

                    
                    <nav class="govuk-pagination" role="navigation" aria-label="results">
                      <div class="govuk-pagination__prev">
                        <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
                          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                          </svg>
                          <span class="govuk-pagination__link-title">Previous</span></a>
                      </div>
                      <ul class="govuk-pagination__list">

                        <li class="govuk-pagination__item govuk-pagination__item--current">
                          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
                            1
                          </a>
                        </li>

                        <li class="govuk-pagination__item">
                          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                            2
                          </a>
                        </li>
                        
                        <li class="govuk-pagination__item">
                          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                            3
                          </a>
                        </li>
                      </ul>
                      <div class="govuk-pagination__next">
                        <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                          </svg></a>
                      </div>
                    </nav>  
                      
                    </div>
                  </fieldset>
                </div>
            </div>
          </div>
        </main>
      </div>
  

{% endblock %}
