
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Land Access Request Service
{% endblock %}
{% block content %}
{% include 'includes/head.html' %}
<div class="govuk-header__container1"></div>
 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br/> <br/>
      <div class="govuk-panel govuk-panel--confirmation" id="success" style=" background-color: #00703c;">
        
        <h1 class="govuk-panel__title" id="sss2">
          Contact details added successfully
        </h1>
      
      </div>

      <p class="govuk-body">Back to <a href="lars-home.html" class="govuk-link">Home</a>.</p>
      
      

     

</div>

  

{% endblock %}
